<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">

        </nav>

        <table class="table">
            <tr>
                <th>Thumbnail</th>
                <th>Name</th>
                <th>Metadata</th>
            </tr>
            {% for item in items %}
            <tr>
                <td><a href="/item/{{ item.id }}"><img src="/item/{{ item.id }}/thumbnail/" /></a></td>
                <td>{% for title in item.title %}{{ title }}{% endfor %}</td>
                <td><a href="/item/{{ item.id }}/metadata">Metadata</a></td>
            </tr>
            {% endfor %}
        </table>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
